/* Start Header */
header {
  padding: 1.5rem;
}
.header-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}
.header-title .fa {
  color: #ffd166;
}
/* End Header */

/* Start Main */
main {
  margin: 0 1rem;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 8px #d6d6d6;
  border-radius: 80px;
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: space-between;
  align-items: center;
}
/* Start ShoppingCart Section */
.shoppingCart {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  height: 100%;
  border-radius: 5px;
}

.shoppingCart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border-bottom: 2px solid #f4f4f4;
  padding: 1.5rem;
}
.shoppingCart-table th {
  color: #cbcbcb;
}
.shoppingCart-table th,
.shoppingCart-table td {
  padding: 1.5rem;
  text-align: center;
}

.shoppingCart-img {
  border-radius: 10px;
  width: 120px;
  height: 120px;
}
.manage-count {
  display: flex;
  justify-content: center;
  border: 1px solid #cdb4db;
  border-radius: 5px;
  align-items: center;
}
.manage-count span {
  margin: 0 1px;
  padding: 10px;
}
.manage-count .fa {
  cursor: pointer;
}
.manage-count .fa-plus:hover,
.manage-count .fa-plus:focus,
.manage-count .fa-plus:active {
  color: green;
}

.manage-count .fa-minus:hover,
.manage-count .fa-minus:focus,
.manage-count .fa-minus:active {
  color: red;
}
.counter {
  background-color: #cdb4db;
}

.cart-title {
  text-align: right !important;
}

.cart-title p:nth-child(2) {
  font-size: 14px;
  color: #cbcbcb;
}
.cart-price::after,
#order-total::after,
#order-totalDiscount::after {
  content: " تومان";
}
/* End ShoppingCart Section */

/* Start Order Section */
.order {
  background-color: #bde0fe;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.order-header {
  width: 80%;
  border-bottom: 2px solid #fff;
  padding: 1.5rem;
  text-align: center;
}
.order-item {
  width: 60%;
  margin: 1.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-item span:first-child::before {
  content: " * ";
}

.btn-payment {
  background-color: #ffd166;
  color: #333533;
  padding: 1rem;
  border-radius: 5px;
  width: 70%;
  text-align: center;
  margin: 1rem 0;
}

/* End Order Section */

/* End Main */

/* Start Responsive */
@media screen and (max-width: 1279px) {
  main {
    grid-template-columns: 60% 40%;
  }
  .shoppingCart-table th,
  .shoppingCart-table td {
    padding: 1rem;
  }
}

@media screen and (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
    margin: 0 8px;
    margin-bottom: 1rem;
  }
  .shoppingCart-table th,
  .shoppingCart-table td {
    padding: 0.5rem;
  }
  .shoppingCart-img {
    width: 100px;
    height: 100px;
  }
  .counter {
    padding: 3px 4px;
  }
}

@media screen and (max-width: 500px) {
  .shoppingCart-img {
    width: 80px;
    height: 90px;
  }
  .order-item {
    width: 80%;
  }
  .manage-count span {
    padding: 5px;
  }
  .shoppingCart-header,
  .order-header,
  .btn-payment {
    width: 90%;
  }
  .shoppingCart-table th,
  .shoppingCart-table td {
    font-size: 15px;
  }

  .shoppingCart-table th:first-child,
  .shoppingCart-table td:first-child {
    padding: .3rem;
  }
}
/* End Responsive */
