* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazir-Bold";
}

@font-face {
  font-family: "Vazir-Bold";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Vazir-Bold.eot") format("eot"),
    url("../fonts/Vazir-Bold.ttf") format("ttf"),
    url("../fonts/Vazir-Bold.woff") format("woff"),
    url("../fonts/Vazir-Bold.woff2") format("woff2");
}

body {
  direction: rtl;
  background-color: #edf6f9;
  color: #333533;
}